<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
 <link rel="import" href="../bower_components/paper-tabs/paper-tab.html">
 <link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="profile_info.html">
<link rel="import" href="team-info.html">
<link rel="import" href="season-info.html">
<link rel="import" href="tournament-info.html">
<link rel="import" href="rules-info.html">
<link rel="import" href="my-supervisor.html">v
<dom-module id="my-intramural">
  <template>
    <style include="shared-styles">

    </style>

    <paper-tabs selected={{selected}}>
           <paper-tab>My Profile</paper-tab>
           <paper-tab>My Teams</paper-tab>
           <paper-tab>My Seasons</paper-tab>
           <paper-tab>My Tournaments</paper-tab>
           <paper-tab>My Rules</paper-tab>
           <template is="dom-if" if="{{isSup}}">
          <paper-tab>My Supervisor</paper-tab>
           </template>
          <a href ='/logout'>  <paper-tab>Logout</paper-tab></a>
          </paper-tabs>
          <iron-pages selected={{selected}}>
       <div>
         <profile-info></profile-info>
       </div>
       <div>
         <team-info></team-info>
       </div>
       <div>
         <season-info></season-info>
       </div>
       <div>
         <tournament-info></tournament-info>
       </div>
       <div>
         <rules-info></rules-info>
       </div>
       <div>
         <my-supervisor></my-supervisor>
       </div>
      </iron-pages>

      <div>
          <iron-ajax auto
                  id="requestRepos"
                  url="http://localhost:3000/api/getprofile"
                  handle-as="json"
                  on-response = "handleResponse"
              </iron-ajax>
      </div>



  </template>

  <script>
    Polymer({
      is: 'my-intramural',
      properties: {
        selected: {
          type: Boolean,
        },
        name: String,
        roles:[],
        isCap: Boolean,
        isSup: Boolean,
        isOfficial: Boolean
      },
      created: function() {
      //  console.log("Created!!");

      },
        ready: function ()
        {

         },

       handleResponse: function (data)
       {
         console.log("got the response!");

         var x = data.detail.response;
         var roles = [];
        roles  = x.roles;
         console.log(this.roles);
         if(roles.indexOf("supervisor")!=-1)
         {
           this.isSup = true;
         }
         if(roles.indexOf("official")!=-1)
         {
           this.isOfficial = true;
         }
         if(roles.indexOf("captain")!=-1)
         {
           this.isCap= true;
         }

         }

    });
  </script>
</dom-module>
